@import "@/styles/components.css";
@import "tailwindcss";

html,
body,
#root,
.app {
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  font-family: var(--font-sans);
  scroll-behavior: smooth;
}
